<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Pacientes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Listado de Pacientes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dirección</th>
                    <th>Número</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="paciente : ${pacientes}">
                    <td th:text="${paciente.id}"></td>
                    <td th:text="${paciente.nombre}"></td>
                    <td th:text="${paciente.apellido}"></td>
                    <td th:text="${paciente.direccion}"></td>
                    <td th:text="${paciente.numero}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/Paciente/registrar" class="btn btn-primary">Registrar Nuevo Paciente</a>
    </div>
</body>
</html>
